@import url("http:/fotns.googleapis.com/css?family=Source+sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-image: url("assets/wallpaper.jpg") ;
}

.container {
  width: 100%;
  margin: 1em auto;
  background-color: rgb(14, 36, 56);
}
.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  color: rgb(89, 88, 87);
}
